@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --dark-background: #222;
    --light-background: #EEE;
    --light-background-shadow: #333;
    --link-hover-color: #CCC;
    --smooth-grey: #888;
    --main-height: 664px;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-background);
    font-family: 'Lato', sans-serif;
    color: var(--dark-background);
    line-height: 1.6;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--dark-background);
}

a:hover {
    color: var(--link-hover-color);
}

ul, ol{
    list-style-type: none;
}

/* Header */
header {
    padding: 20px 30px;
    background-color: var(--light-background);
}

header img {
    width: 180px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.header-nav {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-nav i {
    padding-right: 6px;
}

.header-nav img {
    width: 18px;
}

.header-nav a .invisible-text,
.header-nav a:hover .visible-text {
    display: none;
}

.header-nav a:hover .invisible-text {
    display: inline;
    color: var(--link-hover-color);
}

/* Main */
main {
    height: var(--main-height);
    padding: 50px;
    background-color: var(--dark-background);
    color: var(--smooth-grey);

}

main .landing-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

section .canvas {
    padding-right: 50px;
}

aside {
    margin-top: 50px;
}

.canvas {
    padding: 10px;
}

.paragraph {
    padding-left: 10px;
}

.input-form {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background-color: var(--light-background);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.card form {
    padding: 20px 40px 0px 40px;
    text-align: center;
}

input {
    margin: 10px;
    padding: 6px;
}

iframe {
    margin: 50px;
    border-radius: 10px;
}

/* Card gallery */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search-for-card {
    width: 600px;
}

.search-results {
    height: 400px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.search-results img {
    width: 130px;
}

.hover-over img:hover {
    position: absolute;
    z-index: 2;
    transition: transform 0.2s;
    transform: scale(2.5);
}

#id {
    display: inline-block;
    overflow: hidden;
}

.invisible {
    visibility: hidden;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: var(--light-background);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

@media(max-width: 1440px) {
    .header-nav {
        font-size: 18px;
    }
}

@media(max-height: 900px) {
    :root {
        --main-height: 532px;
    }

    header {
        padding: 10px 30px;
    }

    .header-nav {
        font-size: 18px;
    }

    footer {
        padding-top: 10px;
        padding-bottom:20px;
        font-size: 12px;
    }

    .search-for-card {
        width: 480px;
    }
}

/* Tablets and under */
@media(max-width: 768px) {
    
}